# Node.js dependencies
node_modules/

# Firebase service account key
thedjenggot-wweb-firebase-adminsdk-fbsvc-91ccb9f060.json

# wweb_auth
.wwebjs_auth

# Cache
.wwebjs_cache

# Environment variables
.env